# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Spring Boot build folders
/target/
/build/

# Log files
*.log

# Dependency directories
/.mvn/
.mvn/

# Maven wrapper files
mvnw
mvnw.cmd

# Gradle wrapper files (if using Gradle)
gradlew
gradlew.bat
/gradle/

# Spring Boot devtools
spring-boot-devtools.properties

# Eclipse and NetBeans IDEs (if applicable)
.project
.classpath
.idea/

# OS-specific files
.DS_Store
Thumbs.db
